[submodule "SwiftSocket"]
	path = SwiftSocket
	url = https://github.com/nikit6000/SwiftSocket.git
[submodule "HGCircularSlider"]
	path = HGCircularSlider
	url = https://github.com/nikit6000/HGCircularSlider.git
[submodule "third-party/alerts-and-pickers"]
	path = third-party/alerts-and-pickers
	url = https://github.com/dillidon/alerts-and-pickers
